html {
    background-color: #252526;
    color: #cdcdcd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
}

body {
   
}


.content{
    max-width: 960px;
    margin: auto;
}

a {
    color:#007acc;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color:#00548c ;
}

a:visited {
    color:#007acc;
}

a.label {
    text-decoration: none;
    display: inline-block;
    padding: 0.1em 0.3em;
    margin:0 0.3em 0.3em 0;
    background-color:#007acc;
    border-radius: 0.2em;
    color: #cdcdcd;
    text-align:center;
    box-sizing: border-box;
}

a.label:hover {
    text-decoration: none;
    color: #cdcdcd;
    background-color:#00548c;
    border-color: #cdcdcd;
    border-width: 0.2em;
}

a.label:visited {
    text-decoration: none;
    color: #cdcdcd;
    background-color:#007acc;
}


footer p{
    text-align: center;
 }


